__*
sysbuild
*.sdf
*.suo
*.sln
*.opensdf
log.txt
extensions
support
build/
build-*/
tests
*.o
*.dylib
tmp
.DS_Store
.vs
package-info.json

externals/codesign.sh
externals/grainflowExternals.zip
.vscode
grainflow.zip
.secrets
